{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href= "{% static "styles.css"%}">
    <title>Login Page Application</title>
</head>
<body>
<div class="container">
        <h3> Log In</h3>
        <form method = "POST" action="" class="contactform">
        {% csrf_token %}
        <div class="inputbox">
            <label>Username</label>
            <input type= "text" name= "username">
        </div>
        <div class="inputbox">
            <label>Password</label>
            <input type= "password" name= "password">
        </div>
            <button type="submit"> <a href="{% url 'catalog' %}"> Log in</a></button>
            
        </form>
        {{form.errors}}
        <div class = "sign_up_link">
            Don't have an account? <a href= "{%url 'signup' %}"> Sign Up</a>
        </div>
</div>
</body>
</html>